<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MaaCast</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/restaurant.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>


    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/session.js" type="text/javascript"></script>
    
</head>
<body>
    <div ng-app="restaurant" class="container-fluid" ng-controller="container" ng-strict-di>
    <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light static-top navbar-dark bg-dark">           
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="navbar-toggler-icon"></span>
                    </button> <img src="img/brand.png"/>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="navbar-nav ml-md-auto">
                            <li class="nav-item active dropdown">
                                 <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown"><strong>{{username}}</strong></a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                     <a class="dropdown-item" href="#">Edit profile</a> <a class="dropdown-item" href="#">Your orders</a> <a class="dropdown-item" href="#">Manage addresses</a> 
                                    <div class="dropdown-divider">
                                    </div> <a class="dropdown-item" onclick="logout()" href="#">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 2vh;">
            <div class="jumbotron">
                <h2>
                    Welcome to {{restaurantName}}
                </h2>
                <p>
                    Click on + button to increment the quantity of the item that you want to buy. Check the total sum by clicking on Get Total button. After the menu is selected, click on proceed to buy.
                </p>
                <p>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#addItem">Add item to menu</button>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <table class="table borderless bg-light" style='margin-top: 2vh;'>
                <tr class="text-dark">
                    <th>Filters<hr></th>
                </tr>
                <tr>
                    <td><input type="text" ng-model="searchItem" placeholder="Search for menu"></td>
                </tr>
                <tr>
                    <td><a href="#" class="text-dark" ng-click="sortBy('name')">Sort by name</a></td>
                </tr>
            </table>
        </div>
        
        <div class="col-md-4">
            <div class="row bg-light" ng-repeat="item in allItems| filter: searchItem | orderBy: sort" style="margin-top:2vh;">
                <button ng-click="deleteItem(item)"class="btn btn-danger btn-sm" type="button">X</button>
                <div class="col-md-4">
                    <img class="rounded" src="https://www.indianhealthyrecipes.com/wp-content/uploads/2013/01/idli-recipe-1-500x500.jpg" width="150" height="150">
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-danger"><strong>{{item.name}}</strong></h4>
                        </div>
                        <div class="col-md-12">
                             <label>{{item.description}}</label>
                        </div>
                        <div class="col-md-12">
                             &nbsp;
                        </div>
                        <div class="col-md-12">
                            <label>Price: {{item.price | currency:"&#8377;"}}</label>
                        </div>
                    </div>
                </div>
                
                <button ng-click="fillUpdateForm(item)" class="btn btn-default btn-sm" type="button" data-toggle="modal" data-target="#updateItem"><i class="fas fa-pen"></i></button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="list-group" style="margin-top: 2vh;">
                    <div class="list-group-item bg-dark text-white" ng-init="menuItems=menu[0].items;selectedMenu=menu[0].name">
                        <strong><i class="fa fa-shopping-cart"></i> Order statistics</strong>
                    </div>
                    <div class="list-group-item">
                         <div class="row">
                            <div class="card bg-warning">
                                <strong>Today</strong>
                                <strong>10</strong>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="card bg-info">
                                <strong>This week</strong>
                                <strong>6</strong>
                            </div>
                        </div>
                        <div class="row" style="margin-top:3vh;">
                            <div class="card bg-primary">
                                <strong>This month</strong>
                                <strong>4</strong>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="card bg-success">
                                <strong>This year</strong>
                                <strong>4</strong>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- Add item -->
    <div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="#addItem" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="label">Add new Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    <form class="form-container">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-pizza-slice"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control form-control-lg" ng-model="formData.name" placeholder="Enter Item name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        $
                                    </div>
                                </div>
                                <input ng-required="true" min="0" ng-model="formData.price" type="number" class="form-control form-control-lg" placeholder="Enter price" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        #
                                    </div>
                                </div>
                                <input ng-required="true" min="0" ng-model="formData.quantity" type="number" class="form-control form-control-lg" placeholder="Quantity" required>
                            </div>
                        </div>
                        <div class="form-group">
                                <input ng-required="true" min="0" ng-model="formData.description" type="text" class="form-control form-control-lg" placeholder="Description" required>
                        </div>
                        <button ng-click="addItem(formData)" type="button" class="btn btn-success btn-lg form-control form-control-lg">Add</button>
                    </form>
                    </div>
            </div>
          </div>
        </div>

        <!-- update item -->
        <div class="modal fade" id="updateItem" tabindex="-1" role="dialog" aria-labelledby="#updateItem" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="label">Update Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    <form class="form-container">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-pizza-slice"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control form-control-lg" ng-model="updateItemObj.name" ng-value="updateItemObj.name" placeholder="Enter Item name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        $
                                    </div>
                                </div>
                                <input ng-required="true" min="0" ng-model="updateItemObj.price" ng-value="updateItemObj.price" type="number" class="form-control form-control-lg" placeholder="Enter price" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        #
                                    </div>
                                </div>
                                <input ng-required="true" min="0" ng-model="updateItemObj.quantity" ng-value="updateItemObj.quantity" type="number" class="form-control form-control-lg" placeholder="Quantity" required>
                            </div>
                        </div>
                        <div class="form-group">
                                <input ng-required="true" min="0" ng-model="updateItemObj.description" ng-value="updateItemObj.description" type="text" class="form-control form-control-lg" placeholder="Description" required>
                        </div>
                        <button ng-click="updateItem(updateItemObj)" type="button" class="btn btn-success btn-lg form-control form-control-lg">Update</button>
                    </form>
                    </div>
            </div>
          </div>
        </div>
    
</div>
<script>
        
var restaurantApp = angular.module('restaurant',[]); 
restaurantApp.controller('container', ['$scope', function($scope) {
    checkSession();
    var user=JSON.parse(localStorage.getItem('user'));

    $scope.username=user.firstName+" "+user.lastName;
    

    var user={userid:user.userid}
    var restaurant=[];
    console.log(user);

    $.ajax(
    {
        url: "/restaurant/details",
        type: "POST",
        dataType: 'json',
        contentType : "application/json",
        data :JSON.stringify(user),
        async:false,
        success: function (response){
            console.log(response);
            restaurant=response.obj;
            //alert(restaurant);
            //if(response.flag=="TRUE")
              //  window.location.href="/consumer.html";
        },
        error: function (response){
            alert(console.log(response.message));
        }
    });
    $scope.restaurantName=restaurant.restaurantName;

    var menuid=restaurant.menu
    var userid=user.userid;

    var item={};
    item.userid=userid;
    item.menuid=menuid;

    console.log(item);
    $.ajax(
    {
        url: "/menu/list",
        type: "POST",
        dataType: 'json',
        contentType : "application/json",
        data :JSON.stringify(item),
        async:false,
        success: function (response){
            console.log(response);
            $scope.allItems=response.obj;
            //if(response.flag=="TRUE")
              //  window.location.href="/consumer.html";
        },
        error: function (response){
            console.log(response);
        }
    });

    $scope.sortBy=function(type)
    {
        checkSession();
        $scope.sort=type;
    }
    $scope.fillUpdateForm = function(item)
    {
        checkSession();
        $scope.updateItemObj=item;
    }
    $scope.addItem=function(item)
    {
        checkSession();
        item.userid=userid;
        item.menuid=menuid;
        //alert("YES"+JSON.stringify(item));
        console.log(JSON.stringify(item));

        $.ajax(
        {
            url: "/item/create",
            type: "POST",
            dataType: 'json',
            contentType : "application/json",
            data :JSON.stringify(item),
            success: function (response){
                console.log(response);
                location.reload();
                //if(response.flag=="TRUE")
                  //  window.location.href="/consumer.html";
            }
        });
    }

    $scope.deleteItem = function (item)
    {
        checkSession();
        var ret=confirm("Are you sure you want to delete "+item.name+" item");

        var data=
            {
                menuid:menuid,
                itemid: item._id
            };
        console.log(data);
        if(ret==true)
        {
            $.ajax(
            {
                url: "/item/delete",
                type: "DELETE",
                dataType: 'json',
                contentType : "application/json",
                data :JSON.stringify(data),
                success: function (response){
                    console.log(response);
                    location.reload();
                }
            });
        }
    }

    $scope.updateItem = function (item)
    {
        checkSession();
        //$scope.update=item;
       // alert(item._id);
        item.userid=userid;
        item.itemid=item._id;

        console.log(item);
        $.ajax(
            {
                url: "/item/update",
                type: "PUT",
                dataType: 'json',
                contentType : "application/json",
                data :JSON.stringify(item),
                success: function (response){
                    console.log(response);
                    location.reload();
                    //if(response.flag=="TRUE")
                      //  window.location.href="/consumer.html";
                }
            });
    }

    

   /* $scope.allItems = [
    {name:'Idly',price:"30"},
    {name:'Dosa',price:"40"},
    {name:'Roti',price:"25"},
    {name:'Egg sandwitch',price:"30"},
    {name:'Pot biryani',price:"160"},
    {name:'Apollo fish',price:"260"},
    {name:'Gulab jamun',price:"20"}


  ];
    $scope.showMenu=function(arg1,arg2)
    {
        //alert(arg1.items);
        $scope.selectedMenu=arg2;
        $scope.menuItems=arg1.items;
    }
    $scope.updateSelectedItems=function()
    {
        var selected=[];
        for(i=0;i<Object.keys($scope.menu.itemGroups).length;i++)
        {
         //   alert($scope.user.userGroups[i].name);
            selected.push($scope.menu.itemGroups[i].name);
        }
        $scope.selectedItems=selected;
    }
    $scope.addMenu = function()
    {
        $scope.menu.restaurant="Kritunga";
        console.log($scope.menu);
        /*$.ajax(
        {
            url: "/menu/add",
            type: "POST",
            dataType: 'json',
            contentType : "application/json",
            data :JSON.stringify($scope.formData),
            success: function (response){
                console.log(response);
                if(response.flag=="TRUE")
                    window.location.href="/consumer.html";
            }
        });
    }*/

    

}]);

    </script>
</body>