body
{
    background:#282828;
}
.restaurant-card
{
  width: 350px;
  border: 0px;
  border-radius:5px;
  height: 150px;
  padding: 60px 30px;
  text-align:center;
  color:white;
}

.lightblue 
{
  background: linear-gradient(to left, #282828 -1%, DodgerBlue 70%);
}
.lightgreen
{
  background: linear-gradient(to left, #282828 -1%, MediumSeaGreen  70%);
}
.lightpink
{
  background: linear-gradient(to left, #282828 -1%, violet   70%);
}
 
.teal
{
  background: linear-gradient(to left, #282828 -1%, Teal   70%);
}
.restaurants-zone
{
  display: inline-block;
}