
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MaaCast</title>
    <script src="assets/js/jquery.min.js"></script>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/index.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/js/index.js"></script>
    
</head>
<body ng-app="maacast">
	<div class="container-fluid" ng-controller="container">
        <div class="row">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand text-white"><img src="assets/images/brand.png"/></a>
                <form class="form-inline">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#signinModal">Login</button>
                    <button ng-click="setName('User')" type="button" class="btn btn-danger" data-toggle="modal" data-target="#signupModal">Register</button>
                </form>
            </nav>
        </div>
        <div class="row">
        </div>
        <div class="row">
        </div>
     


            <!-- sign in page -->

        <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="label">Sign in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    <form class="form-container">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control form-control-lg" name="username" id="uname" placeholder="Enter username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                </div>
                                <input type="password" class="form-control form-control-lg" name="password" id="pwd" placeholder="Password" required>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-lg form-control form-control-lg">Submit</button>

                        <div id="login_status"></div>
                    </form>
              </div>
            </div>
          </div>
        </div>





            <!-- Registration modal-->

        <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signinModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="label" text-align="center">{{usertype}} Registration</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    <form class="form-container" name="Registration"><!--  method="POST" action="webapi/login/check" enctype="multipart/form-data"><--"> -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control form-control-lg" name="firstName" ng-model="firstName" placeholder="First name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control form-control-lg" name="lastName" ng-model="lname" placeholder="Last name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                </div>
                                <input type="email" class="form-control form-control-lg" name="email" ng-model="email" placeholder="Email" required>
                            </div>
                            <p class="text-danger" ng-show="Registration.email.$error.email">Invalid email address</p>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-phone"></i>
                                    </div>
                                </div>
                                <input ng-required="true" ng-minlength=10 ng-maxlength=10 type="number" class="form-control form-control-lg" name="contactNumber" id="contactNumber" placeholder="Phone number" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                </div>
                                <input type="password" class="form-control form-control-lg" name="password" id="pwd"  placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                </div>
                                <input type="password" class="form-control form-control-lg" name="cnf_password" id="confirm_pwd" placeholder="Confirm Password" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPincode">Address</label>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                  <input type="text" class="form-control" name="flatNumber" placeholder="Flat">
                                </div>
                                <div class="form-group col-md-4">
                                  <input type="text" class="form-control" name="locationName" placeholder="Location name">
                                </div>
                                <div class="form-group col-md-4">
                                  <input type="text" class="form-control" name="street" placeholder="Street">
                                </div>
                              </div>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" name="landmark" placeholder="Landmark">
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-4">
                              <input type="text" class="form-control" name="city" placeholder="City">
                            </div>
                            <div class="form-group col-md-4">
                              <select name="state" class="form-control">
                                <option selected>Choose State</option>
                                <option value=”Andhra Pradesh”>Andhra Pradesh</option>
                                <option value=”Andaman and Nicobar Islands”>Andaman and Nicobar Islands</option>
                                <option value=”Arunachal Pradesh”>Arunachal Pradesh</option>
                                <option value=”Assam”>Assam</option>
                                <option value=”Bihar”>Bihar</option>
                                <option value=”Chandigarh”>Chandigarh</option>
                                <option value=”Chhattisgarh”>Chhattisgarh</option>
                                <option value=”Dadar and Nagar Haveli”>Dadar and Nagar Haveli</option>
                                <option value=”Daman and Diu”>Daman and Diu</option>
                                <option value=”Delhi”>Delhi</option>
                                <option value=”Lakshadweep”>Lakshadweep</option>
                                <option value=”Puducherry”>Puducherry</option>
                                <option value=”Goa”>Goa</option>
                                <option value=”Gujarat”>Gujarat</option>
                                <option value=”Haryana”>Haryana</option>
                                <option value=”Himachal Pradesh”>Himachal Pradesh</option>
                                <option value=”Jammu and Kashmir”>Jammu and Kashmir</option>
                                <option value=”Jharkhand”>Jharkhand</option>
                                <option value=”Karnataka”>Karnataka</option>
                                <option value=”Kerala”>Kerala</option>
                                <option value=”Madhya Pradesh”>Madhya Pradesh</option>
                                <option value=”Maharashtra”>Maharashtra</option>
                                <option value=”Manipur”>Manipur</option>
                                <option value=”Meghalaya”>Meghalaya</option>
                                <option value=”Mizoram”>Mizoram</option>
                                <option value=”Nagaland”>Nagaland</option>
                                <option value=”Odisha”>Odisha</option>
                                <option value=”Punjab”>Punjab</option>
                                <option value=”Rajasthan”>Rajasthan</option>
                                <option value=”Sikkim”>Sikkim</option>
                                <option value=”Tamil Nadu”>Tamil Nadu</option>
                                <option value=”Telangana”>Telangana</option>
                                <option value=”Tripura”>Tripura</option>
                                <option value=”Uttar Pradesh”>Uttar Pradesh</option>
                                <option value=”Uttarakhand”>Uttarakhand</option>
                                <option value=”West Bengal”>West Bengal</option>
                              </select>
                            </div>
                            <div class="form-group col-md-4">
                              <input type="number" class="form-control" name="pincode" placeholder="Pincode">
                            </div>
                          </div>
                          <div class="form-group">
                            <label>ID proof</label>
                            <input type="file" class="form-control-file border" name="idproof">
                            <label class="form-check-label" for="gridRadios1">(file should be in .pdf format, not greater than 2MB)</label>
                        </div>

                        <button type="button" class="btn btn-success btn-lg form-control form-control-lg">Register</button>

                        <div id="login_status"></div>
                    </form>
              </div>
            </div>
          </div>
        </div>
        



        <div class="row banner">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <h1 class="text-white bannertitle"> Enjoy the food world </h1>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="assets/images/DeliveryBoy.jpg" alt="Delivery boy">
                  <div class="card-body bg-dark text-white">
                    <p class="card-text">Some text about delivery executive who delivers food to the consumers.</p>
                    Click here to <button ng-click="setName('Delivery Executive')" type="button" class="btn btn-danger" data-toggle="modal" data-target="#signupModal">Register</button>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="assets/images/HomeCook.jpg" alt="Card image cap">
                  <div class="card-body bg-dark text-white">
                    <p class="card-text">Some text about freelancers who would like to be cook and server consumers</p>
                    Click here to <button ng-click="setName('Freelancer')" type="button" class="btn btn-default" data-toggle="modal" data-target="#signupModal">Register</button>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="assets/images/Restaurant.jpg" alt="Card image cap">
                  <div class="card-body bg-dark text-white">
                    <p class="card-text">Some text about restaurants who provide food to the consumers.</p>
                    Click here to <button ng-click="setName('Restaurant')" type="button" class="btn btn-warning" data-toggle="modal" data-target="#signupModal">Register</button>
                  </div>
                </div>
            </div>
             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="assets/images/ngo.jpg" alt="Card image cap">
                  <div class="card-body bg-dark text-white">
                    <p class="card-text">Some text about NGO's who helps poor people by taking extra food from hotels/restaurants. </p>
                    Click here to <button ng-click="setName('NGO')" type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal">Register</button>
                  </div>
                </div>
            </div>



        </div>


            
	</div>
    

</body>